.image-scroll-container {
    display: flex;
    overflow: hidden;
    width: 100%; 
    margin-left: 5%;/* Adjust to fit 10 images */
  }
  
  .scroll-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Smooth animation */
   
  }
  .memu, .menu-title{
    
    font-size: 500;
    
}
  
  #scroll-image {
    width: 100px;
    /* margin-right: 40px; */
    border-radius: 50%;
    /* cursor: pointer; */
   
    /* transition: 0.2s; */
    height: 130px
  }
 #scroll-image:hover{
  transform: scale(105%);
 }
 
.menu-title,.menu-text{
  margin-left: 4%;
}

  
  button {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .pre-next-buttons{
    display: flex;
    float: right;
    margin-right: 3%;
    font-size: 10px;
  }
  .pre-next-buttons :active{
    background-color: rgb(234, 166, 63);
  }

  .menu-item img{
    width: 7.5vw;
    min-width: 60px;
    cursor: pointer;
    border-radius: 50%;
    height: 130px;
}

.menu-item p{
    margin-top: 10px;
    color: #747474;
    font-size: max(2vw,20);
    cursor: pointer;
}

.menu-item p:hover{
    color: black;
}


.image-name{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-right: 40px;
}